[submodule "learning-cxx"]
	path = learning-cxx
	url = git@github.com:Eternity-dream/learning-cxx.git
[submodule "rustlings"]
	path = rustlings
	url = git@github.com:Eternity-dream/learn-rustlings.git
